@font-face {
    font-family: 'robotomedium';
    src: url('roboto_medium/Roboto-Medium-webfont.eot');
    src: url('roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_medium/Roboto-Medium-webfont.woff2') format('woff2'),
         url('roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('roboto_bold/Roboto-Bold-webfont.eot');
    src: url('roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_bold/Roboto-Bold-webfont.woff2') format('woff2'),
         url('roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'robotomedium','robotobold',Arial, sans-serif;
    font-size: 0.9em;
    color: grey;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
a:visited{
    color: grey;
}
#banniere{
    display: flex;
    border: solid 1px black;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: white;

}

#logo{
    padding-right: 550px;
    margin: 22px;
    margin-left: 200px;
}
#navigation{
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}
#accueil{
    padding: 40px 10px 40px 10px;
}
#accueil:hover{
    border-top: solid 4px aqua;
}
#services{
    padding: 40px 10px 40px 10px;
}
#services:hover{
    border-top: solid 4px aqua;
}
#portofolio{
    padding: 40px 10px 40px 10px;
}
#portofolio:hover{
    border-top: solid 4px aqua;
}
#contact{
    padding: 40px 10px 40px 10px;
}
#contact:hover{
    border-top: solid 4px aqua;
}
#imageAccueil{
    margin-top: 105px;
}
#banniere:nth-child(1){
    flex: 2;
}