/*Paramètres globaux*/
@font-face {
    font-family: 'robotomedium';
    src: url('font/roboto_medium/Roboto-Medium-webfont.eot');
    src: url('/fontroboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),

         url('font/roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('font/roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('font/roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('font/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('font/roboto_bold/Roboto-Bold-webfont.svg') format('embedded-opentype'),

         url('font/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('font/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('font/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Définition d'une variable pour la couleur bleu principale du site*/

:root{
    --bleuPrincipal:rgba(102, 172, 252, 0.9);
}

/*Réglages pour le document global*/

body{
    margin: 0%;
    padding: 0px;
    width: 100%; 
}
#bloc_page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'robotomedium','robotobold',Arial, sans-serif;
    font-size: 1em;
    color: rgba(94, 94, 94, 0.8);
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgba(59, 59, 59, 0.800);
}
a:visited{
    color: rgba(59, 59, 59, 0.800);
}

/*Bannière supérieur*/

.banniere{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    z-index: 3;
    
}
.logo{
    display: flex;
    margin-left: 15%
    
}
.navigation{
    margin-right: 20px;
    padding: 0px 10% 0px 0px;
    
}
.navigation ul{
    padding: 0px;
}
.navigation li{
    list-style: none;
    display: inline;
    padding: 39px 10px 38px 10px;
    max-height: 100px;
    
}
.navigation li:hover{
    padding-bottom: 39px;
    padding-top: 36px;
    border-top: solid 4px rgb(112, 179, 255);
    
}

/*Page d'Accueil*/

#corpsAccueil{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
#imageAccueil{
    position: relative;
    display: flex;
    width: 100%;
    margin: 106px 0px 0px 0px;
    animation-name: sliderAccueil;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    -moz-animation-name: sliderAccueil;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    
    -webkit-animation-name: sliderAccueil;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}
/*@keyframes sliderAccueil{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(-50%);
    }
    60%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(-1OO%);
    }
    100%{
        transform: translateX(-1OO%);
    }
}
@-moz-keyframes sliderAccueil{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(-50%);
    }
    60%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(-1OO%);
    }
    100%{
        transform: translateX(-1OO%);
    }
}
@-webkit-keyframes sliderAccueil{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(-50%);
    }
    60%{
        transform: translateX(-50%);
    }
    80%{
        transform: translateX(-1OO%);
    }
    100%{
        transform: translateX(-1OO%);
    }
}*/
.chevron{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    
}
#left i, #right i{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.767);
    
}
#left{
    padding: 20px 20px 20px 5px;
    border-radius: 0px 40px 40px 0px;
    background-color: rgba(0, 0, 0, 0.250);
}
#right{
    padding: 20px 5px 20px 20px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(0, 0, 0, 0.250);
}
#texteAccueil{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 220px;
    padding: 0px;
    color: white;
    font-size: 1.6em;
    font-family: 'robotobold'; 
}
#texteAccueil h1{
    margin: -5px 0px -5px 0px;
    padding: 0px;
    
}
#texteAccueil p{
    font-size: 0.6em;
    margin-top: 20px;
    margin-bottom: 10px;
}
#boutons{
    background-color: var(--bleuPrincipal);
    border-color: rgb(112, 179, 255) ;
    border-radius: 5%;
    width: 115px;
    height: 40px;
    color: white;
    font-family: 'robotobold',Arial, sans-serif;
    font-size: 0.7em;
    margin-top: 1em;
    
}
#texteAccueil h1 span{
    color: var(--bleuPrincipal);
    margin: -5px 0px -5px 0px;
    padding: 0px;
}

/* Espace entre chaque page*/

#spaceSection, #spaceSection2,#spaceSection3{
    min-height: 100px;
}

/*Page Nos Services*/


#nosServices h1{
    text-align: center;
    font-size: 3em;
    color: black;
    font-family: 'robotobold',Arial, sans-serif;
    margin: 15px 0px 15px 0px;
}
.underLineDecoration{
    display: flex;
    justify-content: center;
    align-items: center;
}
#underlineLeft{
    width: 3%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.300);
}
#underlineRight{
    width: 3%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.300);
}
#point{
    width: 15px;
    height: 15px;
    border: solid white 7px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);  
}
#nosServices p{
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.sloganServices{
    margin: 0px;
    padding: 0px;   
}
.sloganServices:nth-child(1){
    padding-top: 15px;
}
.corpService{
    display: flex;
    padding-top: 50px;
    padding-right: 0px;
}
.imageService{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    margin: 0px 0px 0px 100px;
    padding-left: 0px;
    padding-top: 20px;
}

/*Bannière UX avec logo*/

#UX{
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin-top: 100px;
    margin-left: 45%;
    width: 45%;
    padding-left: 110px;
     
}
#UX i{
    position: absolute;
    color: var(--bleuPrincipal);
    font-size: 2.2em;
    padding: 15px;
    margin: 5px;

}
#backRoundLogo{
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid rgba(128, 128, 128, 0.300) 1px;
    border-radius: 50%;
    

}
#littleCircle{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);
    margin: 25px 0px 200px 60px;
    border: solid white 5px;
    
}
#texteUX{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
    font-size: 0.9em;  
}
#texteUX h2{
    margin: 0px;
    font-family: 'robotobold';
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.750);
}
#texteUX p{
    text-align: justify;
    margin: 10px 200px 0px 0px;
    font-size: 1.2em;
    height: 45px;
    width: 60%;
    overflow: hidden;
}

/*Bannière UI avec logo*/


#UI{
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin-top: 20px;
    margin-left: 45%;
    width: 45%;
    padding-left: 110px;
     
}
#UI i{
    position: absolute;
    color: var(--bleuPrincipal);
    font-size: 2.2em;
    padding: 15px;
    margin: 5px;
}
#backRoundLogoUI{
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid rgba(128, 128, 128, 0.300) 1px;
    border-radius: 50%;
}
#littleCircleUI{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);
    margin: 25px 0px 200px 60px;
    border: solid white 5px;   
}
#texteUI{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
    font-size: 0.9em;  
}
#texteUI h2{
    margin: 0px;
    font-family: 'robotobold';
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.750);
}
#texteUI p{
    text-align: justify;
    margin: 10px 200px 0px 0px;
    font-size: 1.2em;
    height: 45px;
    width: 60%;
    overflow: hidden;
}
/*Bannière SEO avec logo*/

#SEO{
    display: flex;
    align-items: flex-start;
    height: 100px;
    margin-top: 20px;
    margin-left: 45%;
    width: 45%;
    padding-left: 110px;
     
}
#SEO i{
    position: absolute;
    color: var(--bleuPrincipal);
    font-size: 2em;
    padding: 15px;
    margin: 5px;

}
#backRoundLogoSEO{
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid rgb(128, 128, 128, 0.300) 1px;
    border-radius: 50%;
    

}
#littleCircleSEO{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);
    margin: 25px 0px 200px 60px;
    border: solid white 5px;
    
}
#texteSEO{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
    font-size: 0.9em;
    
}
#texteSEO h2{
    margin: 0px;
    font-family: 'robotobold';
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.750);
}
#texteSEO p{
    text-align: justify;
    margin: 10px 200px 0px 0px;
    font-size: 1.2em;
    height: 45px;
    width: 60%;
    overflow: hidden;
}
#spaceSection2{
    min-height: 100px;
}

/* Page Nos Projets*/

#nosProjets{
    background-color: rgba(199, 199, 199, 0.3);
    margin: 0px 100px 0px 100px;
}
#nosProjets h1{
    text-align: center;
    font-size: 3em;
    color: black;
    font-family: 'robotobold',Arial, sans-serif;
    margin: 15px 0px 15px 0px;
}
.underLineDecorationProjets{
    display: flex;
    justify-content: center;
    align-items: center;
}
#underlineLeftProjets{
    width: 3%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.300);
}
#underlineRightProjets{
    width: 3%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.300);
}
#pointProjets{
    width: 15px;
    height: 15px;
    border: solid white 7px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);  
}
#nosProjets p{
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.sloganProjets{
    margin: 0px;
    padding: 0px;   
}
.sloganProjets:nth-child(1){
    padding-top: 15px;
}

/*Bouton de navigation Nos Projets*/

#navigationNosProjets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -50px;
    width: 100%;
    height: 150px;
    
}
#navigationNosProjets li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: rgba(172, 172, 172, 0.527);
    height: 19px;
}
#navigationNosProjets li{
    border-bottom: solid transparent 2px;
    width: 70px;
}

#navigationNosProjets li:hover .fas{
    opacity: 1;
}

#navigationNosProjets .bouton:nth-child(1){
    border-bottom: solid rgb(33, 137, 255) 3px;
    color: white;
    background-color: var(--bleuPrincipal);
    height: 17px;
}
#navigationNosProjets li:nth-child(1) .fas{
    opacity: 1;
}
#navigationNosProjets .bouton:hover{
    border-bottom: solid rgb(33, 137, 255) 3px;
    color: white;
    background-color: var(--bleuPrincipal);
    height: 17px;
}

.bouton:nth-child(1){
    border-radius: 5px 0px 0px 5px;
}
.bouton:nth-child(4){
    border-radius: 0px 5px 5px 0px;
}
.fa-caret-down{
    color: rgb(33, 137, 255);
    opacity: 0;
    font-size: 1.5em;
    position: absolute;
    margin-top: 1.1em;
}

/* Début de la partie "Frame" de la page Nos Projets*/

#gridNosProjets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    z-index: 1;
}
.frameUp, .frameDn{
    width: 300px;
    height: 200px;
    margin: 10px; 
}
.frameUp span{
    font-size: 0.8em;
    font-weight: normal;
}
.frameDn span{
    font-size: 0.8em;
    font-weight: normal;
}

#gridNosProjets .frameUp .petiteBanniere{
    width: 300px;
    height: 67px;
    background-color: rgba(0, 0, 0, 0.479);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    position: relative;
    top: -71px;
    opacity: 0;
    padding: 10px;

    box-sizing: border-box;
    z-index: 2;
    
}
#gridNosProjets .frameUp:hover  .petiteBanniere{
    opacity: 1;
}
#gridNosProjets .frameDn .petiteBanniere{
    width: 300px;
    height: 67px;
    background-color: rgba(0, 0, 0, 0.479);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    position: relative;
    top: -71px;
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
}
#gridNosProjets .frameDn:hover  .petiteBanniere{
    opacity: 1;
}
.far{
    position: absolute;
    top: -20px;
    left: 240px;
    font-size: 1em;    
    border: solid white 2px;
    border-radius: 50%;
    background-color: var(--bleuPrincipal);
    color: white;
    padding: 10px 10px 10px 10px;
}

/*Page contact*/

#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#googleMap{ 
    width: 90%;
    height:600px;
    margin: auto;
    position: absolute;
}
.formulaireContact{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.800);
    margin-top: 2.5%;
    margin-left: 65%;
    margin-right: auto;
    width: 280px;
    padding: 1%;
}
.formulaireContact input{
    width: 95%;
    
    height: 25px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    height: 200px;
    font-size: 1.2em;
    font-family: 'robotomedium';
    margin-bottom: 10px;
}
.formulaireContact h1{
    color: black;
    margin: 0px;
}
.formulaireContact h3{
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 0px;
}
.formulaireContact address{
    font-size: 1em;
}
.formulaireContact #telephone{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}
#submitButton{
    width: 40%;
    height: 35px;
    background-color: var(--bleuPrincipal) ;
    border-color:var(--bleuPrincipal);
    border-radius: 2px;
    color: white;
    padding: 5px;
    font-size: 0.9em;
}