#navigationNosProjets{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
body{
    /*background: -webkit-linear-gradient( left, #fff, #111);*/
    background: -moz-linear-gradient(top right, #fff, #1f1);
    color: #000;
}
.bouton{
    border: solid black 1px;
    width: 100px;
    height: 3rem;
}
#gridNosProjets{
    display: flex;
    flex-wrap: wrap;
}