
button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: white;
}

button::before {
    content: 'All works';
    font-size: 1em;
    margin: 10px 10px 10px 10px;
    border: solid black 1px;
    
  }

  button:hover::before, button:focus::before {
    content: 'Create';
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    background-color: royalblue;
  }
 