#navigationNosProjets{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
#navigationNosProjets li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgb(180, 180, 180);
    color: black;
}
#navigationNosProjets li:nth-child(1){
    border-bottom: solid blue 2px;
    color: white;
    background-color: rgb(144, 144, 252);
}
#navigationNosProjets li:nth-child(1) .fas{
    margin-top: 60px;
    opacity: 1;
}
#navigationNosProjets li{
    border-bottom: solid transparent 2px;
}
#navigationNosProjets li:hover .fas{
    margin-top: 60px;
    opacity: 1;
}
#navigationNosProjets .bouton:hover{
    border-bottom: solid blue 2px;
    color: white;
    background-color: rgb(144, 144, 252);
}
.fa-caret-down{
    color: blue;
    opacity: 0;
    font-size: 1.5em;
    position: absolute;
    margin-top: 1.3em;
}
